*.avif
*.css
*.csv
*.docx
*.download
*.fasta
*.gif
*.gmt
*.html
*.jpeg
*.jpg
*.js
*.log
*.pdf
*.png
*.pptx
*.rdata
*.Rdata
*.RData
*.Rhistory
*.sav
*.sml
*.svg
*.tif
*.tsv
*.txt
*.xlsx 
data/
.Rproj.user